registry=https://registry.npmmirror.com/
@jinghe-sanjiaoroad-app:registry=http://192.168.10.110:8081/repository/npm-hosted-jinghe/

strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
ignore-workspace-root-check=true
install-workspace-root=true
node-options=--max-old-space-size=8192
